.main-content {
  min-height: 88vh;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 0px;
}

@media only screen and (max-width: 520px) {
  .main-content {
    padding: 80px 0px;
  }
}
